<div class="title-container">
    <h1>URL Shortener</h1>
</div>

<div class="url-input-holder">
    <input class="url-input" data-bind="attr: { placeholder: inputPlaceHolder }, textInput: urlInput, disable: isInputDisabled">
    <button data-bind="click: shortenClick, disable: isButtonDisabled">Shorten</button>
</div>

<div class="result" data-bind="visible: canShowResult">
    <div class="full-url">
        <span data-bind="text: fullUrl"></span>
    </div>
    <div class="short-url">
        <span>&nbsp;was shortened to&nbsp;</span>
        <a data-bind="attr: { href: shortUrl }, text: shortUrl"></a>
    </div>
</div>
